{{ $allPosts := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $allPosts "Params.resolved" "=" false }}
{{ $pinnedActive := where $active "Params.pin" "=" true }}

{{ $informationals := where $allPosts "Params.informational" "=" true }}
{{ $pinnedInfos := where $informationals "Params.pin" "=" true }}


{{ if or ($active) ($pinnedInfos) }}
<div class="announcement-box" style="border-bottom: 0">
    {{ if ($pinnedActive) }}
    <h2>Aktuelle Ereignisse</h2>
    <div class="components">
        {{ range $pinnedActive }}
        <div class="component">
            <p>
                <a href="{{ .RelPermalink }}">{{ .Title }} →</a>
            </p>
        </div>
        {{ end }}
    </div>
    {{ end }}
    {{ if ($pinnedInfos) }}
    <h2>Ankündigungen</h2>
    <div class="components">
        {{ range $pinnedInfos }}
        <div class="component">
            <p>
                <a href="{{ .RelPermalink }}">{{ .Title }} →</a>
            </p>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }} 
