<div class="contain" style="font-size:small;">
    <p>
        Die digitalen Dienste für Schulen in Sachsen werden durchgehend überwacht
        und im Fall von Störungen werden Informationen hier veröffentlicht.
    </p>
    <p>
        Diese Statusseite der digitalen Dienste für die Schulen in Sachsen wird von Schullogin bereitgestellt.
    </p>
    <p>
        Weitere Informationen werden auf den folgenden Portalen veröffentlicht:
        <ul>
            <li>
                <a href="https://twitter.com/schullogin"rel="noopener noreferer">Twitter @schullogin</a>
            </li>
            <li>
                <a href="https://twitter.com/bildung_Sachsen"rel="noopener noreferer">Twitter @bildung_Sachsen</a>
            </li>
            <li>
                <a href="https://schullogin.github.io/"rel="noopener noreferer">Github Statuspage</a>
            </li>
        </ul>
    </p>
</div>

<style type="text/css">
    .announcement-box {
        border: 3px solid #add8e6;
        border-top: none;
    }
</style>
