<div class="contain">
    <p>
        Die digitalen Dienste für Schulen in Sachsen werden durchgehend überwacht
        und im Fall von Störungen werden Informationen hier veröffentlicht.
    </p>
    <p>
        Diese Statusseite über die aktuelle Funktionbereitschaft der digitalen Dienste für die Schulen in Sachsen wird von Schullogin bereitgestellt.
    </p>
    <p>
        Weitere Informationen werden auf Twitter als
        <a href="https://twitter.com/schullogin"rel="noopener noreferer">@schullogin</a>
        bzw. 
        <a href="https://twitter.com/bildung_Sachsen"rel="noopener noreferer">@bildung_Sachsen</a>
        publiziert.
    </p>
</div>

<style type="text/css">
    .announcement-box {
        border: 2px solid orange;
    }
</style>
