<div class="contain" style="font-size:small;">
    <p>
        Die digitalen Dienste für Schulen in Sachsen werden durchgehend überwacht
        und im Fall von Störungen werden Informationen hier veröffentlicht.
    </p>
    <p>
        Diese Statusseite der digitalen Dienste für die Schulen in Sachsen wird von Schullogin bereitgestellt.
    </p>
    <p>
        Weitere Informationen werden auf den folgenden Portalen veröffentlicht:
        <ul>
            <li>
                <a href="https://twitter.com/bildung_Sachsen"rel="noopener noreferer">x.com/@bildung_Sachsen</a>
            </li>
            <li>
                <a href="https://schullogin.github.io/"rel="noopener noreferer">Github Statuspage</a>
            </li>
            <li>
                <a href="https://status.bmi.fwu.de/status/vidis"rel="noopener noreferer">VIDIS Status</a>
            </li>
        </ul>
    </p>
</div>

<style type="text/css">
    .announcement-box {
        border: none;
    }

    .status-disrupted .announcement-box, .status-down .announcement-box, .status-notice .announcement-box {
        border: none;
    }

    .summary {
        margin-bottom: 50px;
    }
</style>
